@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,#login-form {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'NotoKrL', sans-serif;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html,body,#wrapper{height:100%}
*{margin:0;padding:0;}

@keyframes bgseting{
    from{opacity: 0;}
    to{opacity: 100%;}
}
#wrapper{
    display:flex; flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: bgseting 1s ease;animation-fill-mode: both; opacity: 0;
}
#wrapper.white,
#wrapper.white input{color:#fff}
#wrapper input::placeholder{
    opacity: 0.4;color:#000
}
#wrapper.white input::placeholder{
    opacity: 0.5;color:#fff
}
#time{height:50px;font-size:50px;}
#weather{display:flex;font-size:30px;margin-bottom:30px;justify-content: center;line-height: 1;} 
#weather span{line-height:50px}
#login-form {margin-top:30px;}
#login-form input{
    height:40px;background-color:transparent;
    border:0;font-size:30px;
    border-bottom:2px solid #000;
    text-align:center;
}
#login-form button{
    height:40px;margin-left:20px;padding:0 20px;background-color:transparent;font-size:20px;
    border-radius: 8px;
    transition: transform 0.4s ease;
    
}
#wrapper.white #login-form input{border-bottom:2px solid #fff}
#wrapper.white #login-form button{
    border-color:#fff;color:#fff; 
    
}
#wrapper #login-form button:hover,
#wrapper #login-form button:focus{ 
    transform:scale(1.2) 
}
#wrapper .area{display:none}
#login-result{margin-bottom:20px;font-weight:bold;text-align:center}
#todo-form{     
    padding:30px;    
    background-color:rgba(255,255,255,0.3);
    border-radius: 10px;
}
#todo-form form{}
#todo-form form input{height:40px;width:100%;border:0;font-size:20px;padding-left:20px;border-radius: 5px;box-sizing: border-box;}
#todo-form ul li{
    position: relative;
    margin-top:5px;background-color:rgba(0,0,0,0.3);font-size:16px;padding:10px;border-radius: 5px;color:#fff;    
    line-height:22px; 
    word-break: break-all;
    padding-right:150px;
}
 
#todo-form ul li div{position:absolute;right:0;top:50%;transform: translateY(-50%);padding:0 10px}
#todo-form ul li button{margin-left:5px;padding:0 10px; }
 
/* 로그인후 레이아수*/
#wrapper.logout{justify-content: flex-start;}
#wrapper.logout .area{display:block;position:absolute; top:100px; width:80%;font-size:30px;}

.logout #weather{position:fixed;top:10px;left:10px;font-size:20px;}
.logout #time{
    position:fixed; top:10px;right:10px;
    font-size:20px;      
    line-height:50px;
    background-color:rgba(0,0,0,0.5);color:#fff;
    padding:0 10px;border-radius: 5px;
}
.logout #weather, .logout #time{ 
    background-color:rgba(0,0,0,0.5);color:#fff;
    padding:0 10px;border-radius: 5px;
}
